yfinance==0.2.65
pandas==2.3.1
selenium==4.34.2
webdriver-manager==4.0.2
requests==2.32.4
python-multipart==0.0.20
uvicorn==0.35.0
tensorflow
fastapi==0.116.1
APScheduler==3.11.0
scikit-learn==1.6.1
twilio
python-telegram-bot
redis